---
const { imgSrc, title, description } = Astro.props;
---

<div class="corevalue-card__card">
	<div class="corevalue-card__content">
		<picture>
			<source srcset={`${imgSrc}`} />
			<img
				class="corevalue-card__img"
				src={`${imgSrc}`}
				alt={title}
				loading="lazy"
				width="780"
				height="585"
				decoding="async"
			/>
		</picture>
		<h3 class="corevalue-card__title">{title}</h3>
		{description && <p>{description}</p>}
	</div>
</div>

<style>
	.corevalue-card__card {
		background-color: var(--theme-surface-1);
		color: var(--theme-on-surface-1);
		border-radius: var(--theme-shape-radius);
		height: 350px;
	}
	.corevalue-card__content {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		gap: 0.5rem;
	}
	.corevalue-card__content picture {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.corevalue-card__img {
		max-height: 250px;
		width: auto;
		max-width: 95%;
		margin: 0 auto;
		object-fit: contain;
	}
	.corevalue-card__title {
		font-family: var(--theme-font-family-sans);
		font-size: 0.675rem;
		font-weight: normal;
		margin: 0;
		text-align: center;
	}
</style>