---
import { Container, YouTubeEmbedSection } from '@littlesticks/odyssey-theme-components';
import RobotCard from '../components/history/RobotCard.astro';
import Layout from './Page.astro'; 

const {content: {title, description, canonicalURL, featuredImage, robotName, events, awards, wins, losses, gameVidUrl, gameLogo} } = Astro.props;

const seo = {
	title,
	description,
	canonicalURL,
	image: featuredImage,
};
---
<Layout seo={seo}> 
  <div class="post-header__container"> 
    <h1>{title}</h1>
    <h4>{description}</h4>
    {featuredImage && <img class="post-layout__img" src={featuredImage} alt={title} />}
    <RobotCard robotName={robotName} wins={wins} losses={losses} events={events} awards={awards}/>
  </div>
  <Container narrow>  
    <article id="article">
        <slot></slot>
    </article>
    <picture>
			<source srcset={`${gameLogo}`} />
			<img
				class="gamelogo-layout__img"
				src={`${gameLogo}`}
				alt={title}
				loading="lazy"
				decoding="async"
			/>
		</picture>
    <p>Below is a video describing the game in more detail:</p>
    <YouTubeEmbedSection url={gameVidUrl}/>
  </Container>
</Layout>

<style>
  #article {
    padding-bottom: 3rem;
  }
  .post-header__container {
    max-width: var(--theme-blog-post-header-width);
    margin: 1rem auto;
    padding: var(--container-padding);
  }
  .post-tags__list {
    margin: 1rem auto;
    padding: 0;
    list-style: none;
  }
  .post-tags__tag {
    text-transform: uppercase;
  }
  .post-tags__tag a {
    font-size: var(--font-size-sm);
    text-decoration: none;
  }
  .post-layout__img {
    margin: 0 auto 1rem auto;
    border-radius: var(--theme-shape-radius);
  }
  .post-layout__date {
    margin-bottom: 1rem;
    opacity: 0.84;
  }
  .gamelogo-layout__img {
    background-color: #fff;
    margin: 0 auto 1rem auto;
    width: 100%;
    height: 100%;
    border-radius: var(--theme-shape-radius);
  }
</style>