---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import { getEntry } from 'astro:content';

const aboutPage = await getEntry('pages', 'about');
const { data } = aboutPage;

const seo = {
	title: data.title,
	description: data.description,
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>{data.heroTitle}</h1>
			<p>{data.heroText}</p>
		</div>
		<picture slot="image-container">
			<img
				src={data.heroImage}
				alt={data.heroImageAlt}
				id="about-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<h3>{data.firstHeading}</h3>
		<div set:html={data.firstContent} />

		<h3>{data.frcHeading}</h3>
		<div set:html={data.frcContent} />

		<h3>{data.historyHeading}</h3>
		<div set:html={data.historyContent} />
	</TextSection>
</Layout>
