---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';
import { getEntry } from 'astro:content';

const contactPage = await getEntry('pages', 'contact');
const { data } = contactPage;

const seo = {
	title: data.title,
	description: data.description,
};
---

<Layout {seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>{data.heading}</h1>
				<p>{data.introText}</p>
				<div>
					<p>
						<em
							><a href={`mailto:${data.email}`}
								>{data.email}</a
							></em
						>
					</p>
				</div>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: block;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
