---
import { getCollection } from 'astro:content';
import {
    Container,
    TextCardSection,
    BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../../../layouts/Page.astro';
import { generateTagData, getAllTags, getPostsByTag } from '../../../utils/helpers';

export async function getStaticPaths() {
    const allPosts = await getCollection('blog');
    const allTags = getAllTags(allPosts);
    
    return allTags.map((tag) => {
        return {
            params: { slug: tag.slug },
            props: {
                tag: tag.title,
                posts: getPostsByTag(allPosts, tag.title),
            },
        };
    });
}

const { tag, posts } = Astro.props;

const seo = {
    title: `${tag} | Blog Tags`,
    description: `All blog posts about ${tag}`,
};
---

<Layout {seo}>
    <Container>
        <TextCardSection>
            <h1>Posts Tagged "{tag}"</h1>
        </TextCardSection>
        <section class="blog-posts-list__section">
            <BlogPostsList {posts} />
        </section>
    </Container>
</Layout>

<style>
    .blog-posts-list__section {
        margin: var(--section-margin) auto;
    }
</style>